<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd" version="6.0">
  <servlet>
    <description></description>
    <display-name>SignInServlet</display-name>
    <servlet-name>SignInServlet</servlet-name>
    <servlet-class>project.servlet.SignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SignInServlet</servlet-name>
    <url-pattern>/SignInServlet</url-pattern>
  </servlet-mapping>
  <display-name>PROJECT</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ManagerSignInServlet</display-name>
    <servlet-name>ManagerSignInServlet</servlet-name>
    <servlet-class>project.servlet.ManagerSignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManagerSignInServlet</servlet-name>
    <url-pattern>/ManagerSignInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EmployeeSignInServlet</display-name>
    <servlet-name>EmployeeSignInServlet</servlet-name>
    <servlet-class>project.servlet.EmployeeSignInServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EmployeeSignInServlet</servlet-name>
    <url-pattern>/EmployeeSignInServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployee</display-name>
    <servlet-name>AddEmployee</servlet-name>
    <servlet-class>project.servlet.AddEmployee</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployee</servlet-name>
    <url-pattern>/AddEmployee</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddEmployeeServlet</display-name>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <servlet-class>project.servlet.AddEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddEmployeeServlet</servlet-name>
    <url-pattern>/AddEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ApplyLeaveServlet</display-name>
    <servlet-name>ApplyLeaveServlet</servlet-name>
    <servlet-class>project.servlet.ApplyLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ApplyLeaveServlet</servlet-name>
    <url-pattern>/ApplyLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddLeaveServlet</display-name>
    <servlet-name>AddLeaveServlet</servlet-name>
    <servlet-class>project.servlet.AddLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddLeaveServlet</servlet-name>
    <url-pattern>/AddLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayEmployeeServlet</display-name>
    <servlet-name>DisplayEmployeeServlet</servlet-name>
    <servlet-class>project.servlet.DisplayEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayEmployeeServlet</servlet-name>
    <url-pattern>/DisplayEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ManageLeaveServlet</display-name>
    <servlet-name>ManageLeaveServlet</servlet-name>
    <servlet-class>project.servlet.ManageLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ManageLeaveServlet</servlet-name>
    <url-pattern>/ManageLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayLeaveServlet</display-name>
    <servlet-name>DisplayLeaveServlet</servlet-name>
    <servlet-class>project.servlet.DisplayLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayLeaveServlet</servlet-name>
    <url-pattern>/DisplayLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>project.servlet.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ActionLeaveServlet</display-name>
    <servlet-name>ActionLeaveServlet</servlet-name>
    <servlet-class>project.servlet.ActionLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ActionLeaveServlet</servlet-name>
    <url-pattern>/ActionLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDisplayLeaveServlet</display-name>
    <servlet-name>AdminDisplayLeaveServlet</servlet-name>
    <servlet-class>project.servlet.admin.DisplayLeaveServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDisplayLeaveServlet</servlet-name>
    <url-pattern>/AdminDisplayLeaveServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayEmployeeServelt</display-name>
    <servlet-name>DisplayEmployeeServelt</servlet-name>
    <servlet-class>project.servlet.admin.DisplayEmployeeServelt</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayEmployeeServelt</servlet-name>
    <url-pattern>/DisplayEmployeeServelt</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdminDisplayEmployeeServlet</display-name>
    <servlet-name>AdminDisplayEmployeeServlet</servlet-name>
    <servlet-class>project.servlet.admin.DisplayEmployeeServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdminDisplayEmployeeServlet</servlet-name>
    <url-pattern>/AdminDisplayEmployeeServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddManagerServlet</display-name>
    <servlet-name>AddManagerServlet</servlet-name>
    <servlet-class>project.servlet.AddManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddManagerServlet</servlet-name>
    <url-pattern>/AddManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayManagerServlet</display-name>
    <servlet-name>DisplayManagerServlet</servlet-name>
    <servlet-class>project.servlet.DisplayManagerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayManagerServlet</servlet-name>
    <url-pattern>/DisplayManagerServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DisplayMangerServlet</display-name>
    <servlet-name>DisplayMangerServlet</servlet-name>
    <servlet-class>project.servlet.DisplayMangerServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DisplayMangerServlet</servlet-name>
    <url-pattern>/DisplayMangerServlet</url-pattern>
  </servlet-mapping>
</web-app>